!!! 5
html
  head
    title JSConf Hotline - (972) 445-7263
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/images/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    div(class='container')
      block content
      div(class="footer")
        a(href='http://twilio.com/api')
          img(src='/images/twilio.png')
        a(href='http://nodejitsu.com')
          img(src='/images/nodejitsu.png')
        a(href='http://iriscouch.com')
          img(src='/images/iris_couch.png')
        
    script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.2/bootstrap.min.js')
