extends html
block content
  h1 Twilio ♥ JSConf
  h2 (972) 44-JSCNF
  div We love JSConf so much, we set-up up a vanity phone number (972-445-7263) for use throughout the conference.  Make sure this number is programmed into your phone, because it will be the key to locating useful things (like shuttles and whiskey bars) as well as keeping up-to-date on all the shenanigans that JSConf all but guarantees.
  h3 When Arriving in PHX
  div Head to the <b>North Curb: Charter Service</b> location in PHX. It will be the sign with a bus logo on it. Also look for people throughout the airport with the JSConf signs. They are there to help you.
  h3 SMS Commands
  ul
    li 
      code #shuttle  
      span Use this to check on the status of the Twilio Bus
    li 
      code #pour {your name}
      span join Whiskey Alerts
    li 
      code #detox
      span leave Whiskey Alerts
    li
      code #moo
      span Use this to send a Whiskey Alert. You only get <b>4</b> during JSConf.
  h3 Got Questions? We Got Answers!
  div(class="faceperson")
    a(href="http://www.twitter.com/CarterRabasa",target="_blank")
      img(class="icon",src="http://ahoy.twilio.com/packages/events/faces/small_carterrabasa.jpg",alt="Carter Rabasa")
      span(class="title") Carter Rabasa
      span(class="subtitle") Developer Evangelist<br />@CarterRabasa
  div(class="faceperson")
    a(href="http://www.twitter.com/jonmarkgo",target="_blank")
      img(class="icon",src="http://ahoy.twilio.com/packages/events/faces/small_jongottfried.jpg",alt="Jon Gottfried")
      span(class="title") Jon Gottfried
      span(class="subtitle") Developer Evangelist<br />@jonmarkgo
  div(style='clear:both')


